/* стандартні значення по замовчуванню */
body{
    font-family: 'Roboto', 'Open Sans', 'Lato', 'Montserrat', 'Noto Sans', 'Segoe UI', sans-serif;
    background-color: #FFF;
    color: #434455;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* < !-- header --> */
.header-logo{
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo-studio{
    font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}
.header-nav-link{
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2E2F42;
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: #404BBF;
}
.address{
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address:hover,
.address:focus{
    color: #404BBF;
}
/* < !-- main section-1 --> */
.main-section{
    background-color: #2E2F42;
}
.main-section-name{
    font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}
.button{
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
}
.button:hover{
    background-color: #404BBF;
}
/* < !-- main - section-2 --> */
.about-strategy-name,
.about-punctuality-nane,
.about-diligence-name,
.about-technologies-name{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.about-strategy-text,
.about-punctuality-text,
.about-diligence-text,
.about-technologies-text{
    color: #434455;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* < !-- main - section-3 --> */
.our-team{
    background-color: #F4F4FD;
}
.our-team-name{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.our-team-mark,
.our-team-tom,
.our-team-camila,
.our-team-daniel{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.our-team-mark-profession,
.our-team-tom-profession,
.our-team-camila-profession,
.our-team-daniel-profession{
    color: #434455;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* < !--main - section-4--> */
.our-portfolio-name{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.our-portfolio-banking-app,
.our-portfolio-cashless-payment,
.our-portfolio-meditation-app,
.our-portfolio-taxi-service,
.our-portfolio-screen-illustrations,
.our-portfolio-online-courses{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.our-portfolio-banking-app-text,
.our-portfolio-cashless-payment-text,
.our-portfolio-meditation-app-text,
.our-portfolio-taxi-service-text,
.our-portfolio-screen-illustrations-text,
.our-portfolio-online-courses-text{
    color: #434455;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* < !-- footer --> */
.footer-logo{
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-logo-studio{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-text{
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.footer{
    background: #2E2F42;
}



   
